snippet !doc
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>${1}</title>
			<link type="text/css" rel="stylesheet" media="screen, projection" href="${2}.css" />
		</head>
		<body>
			<h1>${3}</h1>

			<script src="${4}"></script>
		</body>
	</html>
