snippet React
	React.createClass({
		render: function(){
			return ${1};
		},
	});

snippet React.render
	React.renderComponent(<${1:Component} />, ${2:DOMNode})

snippet class
	class ${1:ClassName} {
		constructor() {
			${2}
		}
	}
